{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}

    {{ title }}
    <br><br>

    At least 1 uppercase character.<br>
    At least 1 lowercase character.<br>
    At least 1 digit.<br>
    At least 1 special character.<br>
    Minimum 8 characters.<br>
    <br><br>

    <form action="/passwordchange" method="post" id="form1">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="existing" name="existing" placeholder="Enter Existing Password" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id="password" name="password" placeholder="Enter New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" id="confirmation" name="confirmation" placeholder="Enter New Password again" type="password">

        </div>
        <div>
            <span id="span1"></span>
        </div>
        <br>

        <button class="btn btn-primary" type="button" onclick="check_password (document.getElementById ('password').value);">Change</button>
    </form>

    <script src="/static/script.js"></script>

    <script>
      check_password = (str) => {
        complexPassword (str) ? document.getElementById ("form1").submit () : document.getElementById ("span1").innerHTML = "Password does not meet complexity requirements.";
      }
    </script>

{% endblock %}
